.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  background-color: #4c54af;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #4956e9;
}

.outerWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  width: 700px;
  border-radius: 5px;
}

.innerWrapper span {
  cursor: pointer;
  flex-grow: 1;
  margin: 0 10px;
}

select {
  margin: 0 10px;
  padding: 5px;
}

input {
  padding: 5px;
  width: 50%;
}

@media (max-width: 600px) {
  .innerWrapper {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  select,
  button {
    width: 100%;
    margin-top: 5px;
  }
}
